{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}

    <div class="table-responsive-md">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">Buy/Sell</th>
                    <th class="text-end">Transaction</th>
                </tr>
            </thead>
            <tbody>
                {% for data in database %}
                    <tr>
                        <td value="{{ data.symbol }}" class="text-start">{{ data.symbol }}</td>
                        <td value="{{ data.shares }}" class="text-end">{{data.shares }}</td>
                        <td value="price" class="text-end">{{ usd(data.price) }}</td>
                        <td value="{{ data.type}}" class="text-end">{{ data.type }}</td>
                        <td value="{{ data.timestamp }}" class="text-end">{{ data.timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
